.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: darkgray;
}

.input-login-email {
  @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
.input-login-passwd {
  @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
.page {
  max-height: 80vh;
  @apply container overflow-hidden overflow-y-auto shadow-2xl p-6 flex flex-col my-auto bg-white h-full;
}
.page-test {
  @apply container overflow-hidden shadow-2xl p-6 flex flex-col my-auto bg-white h-full;
}
.page-404 {
  /*max-height: 60vh;*/
  margin: auto;
  min-width: 50vh;
  background:url("assets/images/404.jpg") center no-repeat #fff;
  /*background-size:cover;*/
  @apply w-2/5 overflow-hidden overflow-y-auto shadow-2xl p-6 flex flex-col bg-white h-2/4;
}
.page-center {
  max-height: 76vh;
  @apply container overflow-hidden overflow-y-auto;
}
.page-header {
  @apply mt-1 mb-1 text-center text-2xl font-extrabold text-gray-900
}
